footer {
    h2 {
        font-size: $fs-5;
    }
    width: 90%;
    margin: auto;
    @include styleText($color-gray-0, $fs-1, $fw-0);
    .footer__top {
        width: 90%;
        margin: $mg-2 auto;
        .nav {
            height: 145px;
            .nav-item {
                flex-basis: 25%;
                .nav-link {
                    color: $color-blue-0;
                    padding: 0;
                }
            }
        }
        .btn-group {
            .button--dropup {
                min-width: 160px;
                box-shadow: none;
                i {
                    padding: 0 $pd-2;
                }
                &::after {
                    margin-left: 30%;
                }
            }
            .dropdown-menu {
                font-size: $fs-1;
            }
        }
    }
    .footer__bottom {
        width: 90%;
        margin: $mg-3 - 2 auto;
        img {
            width: 110px;
            margin-right: $mg-0 + 5;
            padding-bottom: $pd-1;
        }
    }
    @include responsive('medium') {
        .footer__top {
            .col-4 {
                padding-right: 0;
            }
        }
    }
}