.myNavBar {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    .myNavBar__left {
        .navbar-brand {
            text-align: center;
            margin-right: 0;
            img {
                width: 130px;
            }
        }
        .myNavBar__form-search {
            flex-grow: 8;
            @include styleFormSearch($color-white-cream, $color-black-light, $color-white-0, $color-gray-4);
            .input-group {
                input {
                    &:focus+.input-group-append {
                        .input-group-text {
                            &:hover {
                                background-color: $color-red-0;
                            }
                        }
                    }
                }
            }
        }
    }
    .myNavBar__right {
        .nav-item {
            border-radius: $border-radius +1;
            position: relative;
            .nav-link {
                @include styleText($color-black-light, $fs-1, $fw-0);
            }
            .overlay {
                display: none;
                position: absolute;
                top: 110%;
                right: 0;
                z-index: 99; // goes with position
                background-color: $color-white-0;
                width: 330px;
                padding: $pd-1 $pd-3;
                text-align: center;
                box-shadow: 0 4px 16px rgba(20, 23, 28, 0.1);
                font-size: $fs-1;
                &::before {
                    content: '';
                    position: absolute;
                    right: 10%;
                    top: -9px;
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: $color-white-0;
                    border-top: 1px solid $color-gray-1;
                    border-left: 1px solid $color-gray-1;
                    transform: rotate(45deg);
                }
            }
            &:hover {
                background-color: $color-gray-1;
                .overlay {
                    display: block;
                }
            }
        }
        .myNavBar__icon {
            &.nav-item {
                &:hover {
                    background-color: inherit;
                }
            }
            display: flex;
            line-height: 21px;
            .nav-link {
                font-size: $fs-5;
                padding: 0 $pd-1;
            }
        }
        .myNavBar__btn {
            .button-white {
                margin-right: $mg-0;
            }
            .button {
                white-space: nowrap;
            }
            &:hover {
                background-color: $color-gray-1;
            }
        }
    }
    @media screen and (min-width: 1200px) and (max-width: 1355px) {
        .myNavBar__right {
            .nav-item {
                &.business {
                    font-size: $fs-1 - 1;
                    .nav-link {
                        white-space: nowrap;
                    }
                }
            }
            .myNavBar__btn {
                .button {
                    font-size: $fs-1;
                }
            }
        }
    }
    @include responsive('extra-large') {
        .navbar-nav {
            justify-content: space-around !important;
            .nav-item.business {
                display: none;
            }
            .business,
            .myNavBar__btn {
                .button-white {
                    margin-right: $mg-1;
                }
            }
        }
    }
    @include responsive('medium') {
        flex-wrap: nowrap;
        .myNavBar__left {
            .myNavBar__category,
            .myNavBar__form-search {
                display: none;
            }
        }
        .myNavBar__right {
            width: 60%;
            margin-left: auto;
            .contact,
            .myNavBar__icon {
                display: none;
            }
            .myNavBar__cart {
                .nav-link {
                    text-align: center;
                }
            }
        }
    }
}