// .bgImg{
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }


//placeholder, k biên dịch sang css, chỉ biên dịch qua properties kế thứa
%bgImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}