// owl carousel
.owl-carousel {
    .owl-nav {
        button{
            &.owl-prev, &.owl-next{
                color: $color-blue-0;
                font-size: $fs-5 - 1;
                height: 44px;
                width: 44px;
                border-radius: 50%;
                background-color: $color-white-0;
                box-shadow: 0px 2px 8px 2px $color-black-1;
                position: absolute;
                top: 35%;
                &:hover{
                    color: $color-white-0;
                    background-color: $color-blue-0;
                }
                &:focus{
                    outline: none;
                }

            }
            &.owl-prev{
                left: -2%;
            }
            &.owl-next{
                right: -2%;
            }
        }
    }
}